<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Voting System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white">

<div class="container text-center mt-5">

    <h1 class="display-3">🗳 Blockchain Voting System</h1>

    <p class="lead mt-4">
        Secure • Transparent • Tamper Proof
    </p>

    <div class="mt-5">

        <a href="/register" class="btn btn-success btn-lg me-3">
            Register
        </a>

        <a href="/login" class="btn btn-primary btn-lg">
            Login
        </a>

    </div>

</div>

</body>
</html>